<!DOCTYPE html>
<html lang="ko">
  <head>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>kcj</title>
    </head>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style></style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <style></style>
  </head>
  <body>
    <header>
      <nav class="navbar">
  <div class="container">
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
        <a href="/records" class="navbar-item">          
          완료된 질문 보기
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if is_login %}
      <a href="/mypage" class="nav-link">마이페이지</a>
      <button onclick = "logout()" class="nav-link">로그아웃</a>
      {% else %}
      <a href="/loginpage" class="button is-dark">로그인하기</a>
      <a href="/signuppage" class="button is-link">회원가입하기</a>
      {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>      
    </header>
{% block content %} {% endblock %}

{% block scripts %} {% endblock %}
    
  </body>
</html>
