{% extends 'base.html' %} {% block content %}
<div class="notification">질문 작성</div>
<form action="{{ url_for('add') }}" method="post">
  <textarea
    class="textarea"
    placeholder="내용을 입력해주세요."
    type="text"
    name="card-context"
    required
  ></textarea>
  <button class="button is-link mt-3" type="submit">추가</button>
</form>
{% endblock %} {% block scripts %}
<script>
  $(document).ready(function () {
    $("form").on("submit", function (e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/add",
        data: $(this).serialize(),
        success: function (response) {
          if (response.result === "success") {
            alert(response.msg);
            window.location.href = "/"; // index 페이지로 리다이렉트
          } else {
            alert(response.msg);
          }
        },
        error: function (error) {
          alert("오류가 발생했습니다.");
        },
      });
    });
  });
</script>
{% endblock %}
