{% extends 'base.html' %} {% block content %}
<div class="mb-3">
  {% if author_id == user_id %}
  <a href="{{ url_for('edit', id=card._id) }}" class="button is-warning"
            >질문 수정</a
          >
          <a
            href="{{ url_for('delete', id=card._id) }}"
            class="button is-danger"
            >질문 삭제</a
          >
  <a
            href="{{ url_for('questionexpired', id=card._id) }}"
            class="button is-primary is-dark is-pulled-right"
            >해결 완료</a
          >
</div>
{% endif %}

  {% if card.active == 'true' %}
    <div class="card" id="{{ card._id }}">
        <header class="card-header pt-1 pb-1">
          <strong class="pl-2">
            <p class="card-author-name">{{ card.author }}</p>
          </strong>
          <time class="pl-3" datetime="2016-1-1">{{ card.time_convert }}</time>
        </header>
        <div class="card-content">
          <div class="content">
            {{ card.context }}
            <br />
          </div>
        </div>
    </div>
<article class="media">
  <div class="media-content">
    <div class="field">
      <p class="control">
        <form action="{{ url_for('detail', id=id) }}" method="post">
            <input class="input is-primary" name="comment-context" placeholder="댓글 작성하기"></input>
             <button class="button is-success mt-3" type="submit">등록</button>
        </form>
        
      </p>
    </div>    
  </div>
  </article>
  {% else %}
<div class="card has-background-grey-light" id="{{ card._id }}">
        <header class="card-header pt-1 pb-1">
          <strong class="pl-2">
            <p class="card-author-name">{{ card.author }}</p>
          </strong>
          <time class="pl-3" datetime="2016-1-1">{{ card.time_convert }}</time>
        </header>
        <div class="card-content">
          <div class="content">
            {{ card.context }}
            <br />
          </div>
        </div>
    </div>
  {% endif %}

{% for comment in comments %}
<article class="media has-background-primary-light">
  <div class="media-content">
    <div class="content">
      <p class="pl-3">
        <strong>{{ comment.author }}</strong> <small>{{ comment.time_convert }}</small>
        <br />
        {{ comment.context }}
      </p>
    </div>
    <nav class="level is-mobile">
      
    </nav>
  </div>
  {% if comment.author_id == user_id %}
  <div class="media-right pr-3">
    <a href="{{ url_for('edit_comment', card_id=id, id=comment._id) }}" class="button is-warning">수정</a>
    <a href="{{ url_for('delete_comment', card_id=id, id=comment._id) }}" class="button is-danger">삭제</a>
  </div>
  {% endif %}
</article>

{% endfor %} 
{% endblock %} {% block scripts %}
<script>
$(document).ready(function () {
    $("form").on("submit", function (e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/detail/{{ id }}",
        data: $(this).serialize(),
        success: function (response) {
          if (response.result === "success") {
            alert(response.msg);
            window.location.reload(); // index 페이지로 리다이렉트
          } else {
            alert(response.msg);
          }
        },
        error: function (error) {
          alert("오류가 발생했습니다.");
        },
      });
    });
  });
</script>
{% endblock %}
