{% extends 'base.html' %} {% block content %}
<div class="notification">댓글 수정</div>
<div class="notification is-warning">
  <strong>기존 내용 : {{ comment.context }}</strong>
</div>
<form
  action="{{ url_for('edit_comment', card_id=card_id, id=id) }}"
  method="post"
>
  <textarea
    class="textarea"
    placeholder="내용을 입력해주세요."
    type="text"
    name="modified-comment"
    required
  ></textarea>
  <button class="button is-link mt-3" type="submit">수정</button>
</form>
{% endblock %} {% block scripts %}
<script>
  $(document).ready(function () {
    $("form").on("submit", function (e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/comment/edit/{{ card_id }}/{{ id }}",
        data: $(this).serialize(),
        success: function (response) {
          if (response.result === "success") {
            alert(response.msg);
            window.location.href = "/detail/{{ card_id }}"; // 이전 페이지로 이동
          } else {
            alert(response.msg);
          }
        },
        error: function (error) {
          alert("오류가 발생했습니다.");
        },
      });
    });
  });
</script>
{% endblock %}
