<!DOCTYPE html>
<html lang="ko">
  <head>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>kcj</title>
    </head>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style></style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <style></style>
    <script>
      function signup() {
        var pw_give = $("#input-pw").val();
        if (pw_give.length <= 4) {
          alert("비밀번호는 5자리 이상이어야합니다.");
          return;
        }

        $.ajax({
          type: "POST",
          url: "/signup",
          data: {
            id_give: $("#input-id").val(),
            pw_give: pw_give,
            nickname_give: $("#input-nick").val(),
          },
          success: function (response) {
            if (response["result"] == "success") {
              alert("회원가입이 완료되었습니다.");
            } else {
              alert(response["msg"]);
            }
          },
        });
      }
      function signin() {
        $.ajax({
          type: "POST",
          url: "/login",
          data: {
            id_give: $("#signin-id").val(),
            pw_give: $("#signin-pw").val(),
          },
          success: function (response) {
            console.log(response);
            if (response["result"] == "success") {
              // 로그인에 성공하면 token을 쿠키에 저장
              $.cookie("mytoken", response["token"]);
              alert("로그인 완료!");
              // window.location.href = '/'
            } else {
              alert(response["msg"]);
            }
          },
        });
      }
      function is_valid_passwd() {}
    </script>
  </head>
  <body>
    <header>
      <div>이름</div>
      <div>로그인하기</div>
    </header>
    <section>
      <div class="posting-box" id="signup-box">
        <div class="form-group">
          <label>ID</label>
          <input type="text" id="input-id" placeholder="" />
        </div>
        <div class="form-group">
          <label>PASSWORD</label>
          <input
            type="password"
            id="input-pw"
            placeholder=""
            minlength="5"
            required
          />
        </div>
        <div class="form-group">
          <label>NICKNAME</label>
          <input
            type="text"
            class="form-control"
            aria-describedby="emailHelp"
            id="input-nick"
            placeholder=""
          />
        </div>
        <button type="submit" onclick="signup()" class="btn btn-primary">
          회원가입
        </button>
      </div>

      <div class="posting-box" id="signup-box">
        <div class="form-group">
          <label>ID</label>
          <input type="text" id="signin-id" placeholder="" />
        </div>
        <div class="form-group">
          <label>PASSWORD</label>
          <input
            type="password"
            id="signin-pw"
            placeholder=""
            minlength="5"
            required
          />
        </div>
        <button type="submit" onclick="signin()" class="btn btn-primary">
          로그인
        </button>
      </div>

      <div>
        <h1>카드 작성 폼</h1>
        <form action="{{ url_for('add') }}" method="post">
          <textarea
            class="textarea"
            placeholder="내용을 입력해주세요."
            type="text"
            name="card-context"
            required
          ></textarea>
          <button class="button is-link" type="submit">추가</button>
        </form>
        <ul>
          {% for card in cards %}
          <div class="card" id="{{ card._id }}">
            <header class="card-header">
              <p class="card-author-name">{{ card.author }}</p>
            </header>
            <div class="card-content">
              <div class="content">
                {{ card.context }}
                <a href="#">@keyword</a>
                <br />
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
            <div id="comment-list"></div>
            <footer class="card-footer">
              <a
                href="{{ url_for('add_comment', id=card._id) }}"
                class="card-footer-item"
                >답변 달기</a
              >
              <a
                href="{{ url_for('edit', id=card._id) }}"
                class="card-footer-item"
                >수정</a
              >
              <a
                href="{{ url_for('delete', id=card._id) }}"
                class="card-footer-item"
                >삭제</a
              >
            </footer>
          </div>
          {% endfor %}
        </ul>
      </div>
    </section>
    <script>
      $(document).ready(function () {
        $(".card").each(function () {
          const cardId = $(this).attr("id");
          const commentList = $(this).find("#comment-list");

          $.get("/comments/" + cardId, function (comments) {
            comments.forEach((comment) => {
              commentList.append("<p>" + comment + "</p>");
            });
          });
        });
      });
    </script>
  </body>
</html>
