<!DOCTYPE html>
<html lang="ko">
  <head>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>kcj</title>
    </head>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style></style>
  </head>
  <body>
    <header>
      <div>이름</div>
      <div>로그인</div>
    </header>
    <section>
      <div>
        <button>질문 작성</button>
      </div>
      <div>
        <li>{{ card.context }}</li>
      </div>
    </section>
    <script></script>
  </body>
</html>
