{% extends 'base.html' %} {% block content %}
<div class="notification">내가 한 질문</div>
<div class="fixed-grid has-4-cols">
  <div class="grid">
    {% for card in cards %}
    <div class="cell">
      <div class="card" id="{{ card._id }}">
        <header class="card-header pt-1 pb-1">
          <strong class="pl-2">
            <p class="card-author-name">{{ card.author }}</p>
          </strong>
          <time class="pl-3" datetime="2016-1-1">{{ card.time_convert }}</time>
        </header>
        <div class="card-content">
          <div class="content">
            {{ card.context }}
            <br />
          </div>
        </div>
        <footer class="card-footer">
          <a
            href="{{ url_for('detail', id=card._id) }}"
            class="card-footer-item"
            >자세히 보기</a
          >
        </footer>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="notification">내가 쓴 댓글</div>
{% for comment in comments %}
<article class="media has-background-primary-light">
  <div class="media-content">
    <div class="content">
      <p class="pl-3">
        <strong>{{ comment.author }}</strong> <small>31m</small>
        <br />
        {{ comment.context }}
      </p>
    </div>
    <nav class="level is-mobile"></nav>
  </div>
  <div class="media-right pr-3">
    <a
      href="{{ url_for('detail', id=comment.card_id) }}"
      class="button is-link is-dark"
      >내 댓글 보러가기</a
    >
  </div>
</article>
{% endfor %} {% endblock %} {% block scripts %}
<script></script>
{% endblock %}
