{% extends 'base.html' %} {% block content %}
      <div class="fixed-grid has-4-cols">
        <div class="grid">
          {% for card in cards %}
          <div class="cell">
            <div class="card" id="{{ card._id }}">
              <header class="card-header">
                <p class="card-author-name">{{ card.author }}</p>
              </header>
              <div class="card-content">
                <div class="content">
                  {{ card.context }}
                  <a href="#">@keyword</a>
                  <br />
                  <time datetime="2016-1-1">{{ card.time_convert }}</time>
                </div>
              </div>
              <footer class="card-footer">
                <a
                  href="{{ url_for('detail', id=card._id) }}"
                  class="card-footer-item"
                  >답변 달기</a
                >
                <a
                  href="{{ url_for('edit', id=card._id) }}"
                  class="card-footer-item"
                  >수정</a
                >
                <a
                  href="{{ url_for('delete', id=card._id) }}"
                  class="card-footer-item"
                  >삭제</a
                >
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
        {% for comment in comments %}
        <article class="media">
        <div class="media-content">
            <div class="content">
            <p>
                <strong>{{ comment.author }}</strong> <small>31m</small>
                <br />
                {{ comment.context }}
            </p>
            </div>
            <nav class="level is-mobile">
            <div class="level-left">
                <a class="level-item">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
            </div>
            </nav>
        </div>
        <div class="media-right">
            <button class="delete"></button>
        </div>
        </article>
        {% endfor %}

        </div>
      </div>
  {% endblock %} {% block scripts %}
  <script>
  </script>
  {% endblock %}