{% extends 'base.html' %} {% block content %}

<section class="hero is-success">
    <h1>내 질문들</h1>
    <div class="hero-body" id="signup-box">
      <div class="fixed-grid has-5-cols">
        <div class="grid">
          {% for card in cards %}
          <div class="cell">
            <div class="card" id="{{ card._id }}">
              <header class="card-header">
                <p class="card-author-name">{{ card.author }}</p>
              </header>
              <div class="card-content">
                <div class="content">
                  {{ card.context }}
                  <a href="#">@keyword</a>
                  <br />
                  <time datetime="2016-1-1">{{ card.time_convert }}</time>
                </div>
              </div>
              <footer class="card-footer">
                <a
                  href="{{ url_for('detail', id=card._id) }}"
                  class="card-footer-item"
                  >답변 달기</a
                >
                <a
                  href="{{ url_for('edit', id=card._id) }}"
                  class="card-footer-item"
                  >수정</a
                >
                <a
                  href="{{ url_for('delete', id=card._id) }}"
                  class="card-footer-item"
                  >삭제</a
                >
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
        {% for comment in comments %}
        <article class="media">
        <div class="media-content">
            <div class="content">
            <p>
                <strong>{{ comment.author }}</strong> <small>31m</small>
                <br />
                {{ comment.context }}
            </p>
            </div>
            <nav class="level is-mobile">
            <div class="level-left">
                <a class="level-item">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
            </div>
            </nav>
        </div>
        <div class="media-right">
            <button class="delete"></button>
        </div>
        </article>
        {% endfor %}

        </div>
      </div>
    </div>
  </section>
  {% endblock %} {% block scripts %}
  <script>
    $(document).ready(function () {
      $(".card").each(function () {
        const cardId = $(this).attr("id");
        const commentList = $(this).find("#comment-list");
  
        $.get("/comments/" + cardId, function (comments) {
          comments.forEach((comment) => {
            commentList.append("<p>" + comment + "</p>");
          });
        });
      });
    });
  
    function is_login() {
      if (document.cookie["mytoken"]) {
        return true;
      } else {
        return false;
      }
    }
    function signup() {
      var pw_give = $("#input-pw").val();
      if (pw_give.length <= 4) {
        alert("비밀번호는 5자리 이상이어야합니다.");
        return;
      }
  
      $.ajax({
        type: "POST",
        url: "/signup",
        data: {
          id_give: $("#input-id").val(),
          pw_give: pw_give,
          nickname_give: $("#input-nick").val(),
        },
        success: function (response) {
          if (response["result"] == "success") {
            alert("회원가입이 완료되었습니다.");
          } else {
            alert(response["msg"]);
          }
        },
      });
    }
    function signin() {
      $.ajax({
        type: "POST",
        url: "/login",
        data: {
          id_give: $("#signin-id").val(),
          pw_give: $("#signin-pw").val(),
        },
        success: function (response) {
          console.log(response);
          if (response["result"] == "success") {
            // 로그인에 성공하면 token을 쿠키에 저장
            $.cookie("mytoken", response["token"]);
            alert("로그인 완료!");
            window.location.href = "/";
          } else {
            alert(response["msg"]);
          }
        },
      });
    }
    function logout() {
      $.removeCookie("mytoken", { path: "/" });
      window.location.href = "/";
    }
  </script>
  {% endblock %}