{% extends 'base.html' %}
{% block content %}
  <a href="/" class="button is-black">진행중인 질문 보기</a>
  <div class="hero-body" id="signup-box">
    <div class="fixed-grid has-5-cols">
      <div class="grid">
        {% for card in cards %}        
        <div class="cell">
          <div class="card has-background-grey-light" id="{{ card._id }}">
            <header class="card-header pt-1 pb-1">
          <strong class="pl-2">
            <p class="card-author-name">{{ card.author }}</p>
          </strong>
          <time class="pl-3" datetime="2016-1-1">{{ card.time_convert }}</time>
        </header>
            <div class="card-content">
          <div class="content">
            {{ card.context }}
            <br />
          </div>
        </div>
            <footer class="card-footer">
              <a
                href="{{ url_for('detail', id=card._id) }}"
                class="card-footer-item"
                >자세히 보기</a
              >
            </footer>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    
  </script>
  {% endblock %}