<!DOCTYPE html>
<html lang="ko">
  <head>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>kcj login</title>     
      
    </head>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style></style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script> 
    <style>
    
    </style>
    <script>
      function signin() {
        $.ajax({
            type: "POST",
            url: "/login",
            data: {
                id_give: $('#signin-id').val(),
                pw_give: $('#signin-pw').val(),
            },
            success: function (response) {
                console.log(response)
                if (response['result'] == 'success') {
                    // 로그인에 성공하면 token을 쿠키에 저장
                    $.cookie('mytoken', response['token']);
                    alert('로그인 완료!')
                    window.location.href = '/'
                } else {
                    alert(response['msg'])
                }
            }
        })
    }
    function is_valid_passwd(){

    }
    </script>
  </head>
  <body>
    <header>
      <div>이름</div>
      <div>로그인하기</div>
    </header>
        <div class="posting-box" id="signup-box">
          <div class="form-group">
            <label>ID</label>
            <input type = "text" 
                  id="signin-id" placeholder="">
          </div>
          <div class="form-group">
            <label>PASSWORD</label>
            <input type = "password" 
                  id="signin-pw" placeholder="" minlength = "5" required>
          </div>
          <button type="submit" onclick="signin()" class="btn btn-primary">로그인</button>
        </div>
    </section>
    <script></script>
  </body>
</html>
