{% extends 'base.html' %} {% block content %}
<body>
  <div class="posting-box" id="signup-box">
    <div class="field">
            <p class="control has-icons-left has-icons-right"></p>
            <label class = "label">ID</label>
            <input class = "input" type = "text" 
                  id="input-id" placeholder="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
            </p>
          </div>
    
          <div class="field">
            <p class="control has-icons-left">
            <label class = "label">PASSWORD</label>
            <input class = "input" type = "password" 
                  id="input-pw" placeholder="" minlength = "5" required>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
          </div>
    
          <div class="field">
            <p class="control has-icons-left">
            <label class = "label">닉네임</label>
            <input class = "input" type = "text" 
                  id="input-nick" placeholder="" aria-describedby="emailHelp" minlength = "5" required>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
          </div>
    
    <button type="submit" onclick="signup()" class="button is-primary">
      회원가입
    </button>
    <a href="/" class="button is-danger">취소</a>
  </div>
</body>
{% endblock %} {% block scripts %}
<script>
  function signup() {
    var id_give = $("#input-id").val();
    var pw_give = $("#input-pw").val();
    if (pw_give.length <= 4) {
      alert("비밀번호는 5자리 이상이어야합니다.");
      return;
    }
    if (id_give.length <= 0) {
      alert("비밀번호는 1자리 이상이어야합니다.");
      return;
    }
    $.ajax({
      type: "POST",
      url: "/signup",
      data: {
        id_give: id_give,
        pw_give: pw_give,
        nickname_give: $("#input-nick").val(),
      },
      success: function (response) {
        if (response["result"] == "success") {
          alert("회원가입이 완료되었습니다.");
          window.location.href = "/";
        } else {
          alert(response["msg"]);
        }
      },
    });
  }
</script>
{% endblock %}
